<form [formGroup]="consumerForm">
  <typeHeadInput
    labelText="Year"
    labelStyleClass="font-medium text-sm w-full mb-2 block"
    typeHeadStyleClass="custom-dropdown"
    [disabled]="consumerForm.get('year')?.disabled ?? false"
    [control]="getFormControl['year'] | formControl"
    [dropDownStyleClass]="customSelectInputClass"
    [placeholder]="'Year'"
    [name]="'value'"
    [isNumberInput]="true"
    [serverSideSearchCallback]="yearCallBackFunction"
    [enableServerSideData]="true"
    (newValue)="changeSelectedText($event)"
    [customFieldText]="'Year'"
    requiredErrorMessage="Year filed cannot be empty"
  ></typeHeadInput>
</form>
