<form [formGroup]="consumerForm">
  <typeHeadInput
    labelText="Year"
    labelStyleClass="font-medium text-sm w-full mb-2 block"
    typeHeadStyleClass="custom-dropdown"
    [disabled]="consumerForm.get('year')?.disabled ?? false"
    [control]="getFormControl['year'] | formControl"
    [dropDownStyleClass]="customSelectInputClass"
    [placeholder]="'Year'"
    [name]="'value'"
    [isNumberInput]="true"
    [enableServerSideData]="true"
    [serverSideSearchCallback]="yearCallBackFunction"
    [customFieldText]="'Year'"
    requiredErrorMessage="Year filed cannot be empty"
    [autoDisplayFirst]="true"
    placeholder="Year"
    [isVirtualScroll]="true"
    [virtualScrollItemSize]="40"
    [virtualScrollOptions]="virtualScrollOptions"
  >
    <ng-template appTypeheadInputLoaderTmp>
      <div class="px-4 pt-3">loading ...</div>
    </ng-template>
  </typeHeadInput>
</form>

<button (click)="disabled()">disabled</button>
<button (click)="enable()">enable</button>
